@page
@model SuportFromMusics.Pages.Shared._SingsListNavBarModel
@{
}
<head>

</head>
<body>
    <nav class="col-lg-8 col-md-8 col-sm-11 col-xs-12">
        <table>
            <tr>
                <td>
                    <a asp-page="/Sing/SingsList" class="btn btn-info">
                        لیست تمام ترک ها
                    </a>
                </td>
                <td>
                    <a asp-page="/Sing/SingsList/SingTypes">
                        سبک های موسیقی
                    </a>
                </td>
                <td>
                    <a asp-page="Best">
                        بهترین ترک ها
                    </a>
                </td>
            </tr>
        </table>

    </nav>
</body>