body {
}
form{
    padding-top: 4rem;
    /*border-radius: 5rem;*/
}
#Number-Maxvalue{
    height: 2.1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 8cm;
}
#Number-Maxvalue:hover{
    border: 1px solid blue;
}
#btn-MaxValue{
    background-color: orange;
    font-size: 1.1rem;
}
#Text-Card{
    color: red;
    display: inline-block;
    width: 12cm;
}
#Text-Card hr{
    color: black;
}
#Maxvalue-Card{
    width : 12cm;
    display:inline-block;
}
#MaxValueCheckBox{
    margin: 2rem;
}